/* 添加 CSS */
.card_title {
	margin-left: 10px;
	padding-top: 20px;
	font-size: 24px;
}
.card_image {
	width: 300px;
	margin-left: 10px;
	margin-right: 10px;
}
.card_body {
	border: 1px solid lightgrey;
	box-shadow: 5px 5px 5px 5px lightgrey;
	width: 320px;
	padding-bottom: 3px;
}
.card_content {
	font-family: Times;
	border: 1px solid lightgrey;
	font-size: 14px;
	margin: 10px;
	padding: 10px;
	margin-bottom: 10px;
}
.brief_content {
	font-style: italic;
}
ul {
	padding-left: 10px;
	list-style-type: none;
}
.li_name {
	font-weight: bold;
}
.detail_content {
	
}
footer {
	margin-left: 10px;
	font-size: 12px;
}
